@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|Material+Icons+Round&display=swap");

/* CSS Reset */
* {
	transition: 0.25s ease-in-out color, 0.25s text-decoration ease-in-out;
	font-family: var(--font);
	padding: 0;
	margin: 0;
	font-weight: 400;
	box-sizing: border-box;
	color: var(--text);
	outline: none;
	text-decoration-skip-ink: none;
	background-color: var(--back);
}

/* Z-Index Vars */
:root {
	--z-modal: 10;
	--z-theme: 4;
	font-size: 16px;
}

/* Sizing Vars */
:root {
	--padding: 10px;
	--margin: 10px;
	--border: 1px;
}

/* Element Redesigns */
::placeholder {
	color: var(--text);
}

button {
	border: var(--border) solid var(--text);
	transition: 0.25s ease-in-out background;
	font-size: 1.25rem;
	padding: var(--padding);
}

button:hover {
	background: var(--accent);
}

input {
	border: var(--border) solid var(--text);
	font-size: 1.125rem;
	transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
}
input:focus,
input:hover {
	background: var(--accent);
}

hr {
	height: 0;
	border: none;
	border-top: 1px solid var(--text);
	margin: 1%;
}
