/* Search Bar */
.searchbox {
	transition: 0.25s ease-in-out background;
	padding: var(--padding);
	display: flex;
	height: 4.25rem;
	background: var(--back-accent);
}

.searchbox div,
.searchbox a {
	background: transparent;
}

.searchbox .logo-container {
	height: 100%;
	margin-right: var(--margin);
}

.searchbox .logo {
	width: 3.125rem;
	transition: 0.5s transform ease-in-out;
	border-radius: 50%;
	background: none;
}

.searchbox .logo:hover {
	transform: rotate(720deg);
}

.searchbox .input-container {
	font-size: 0;
	flex: 1;
	display: flex;
	text-align: center;
	padding: calc(var(--padding) / 2);
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.searchbox .input-button {
	width: 3.125rem;
	height: 100%;
}

.searchbox .input-button i {
	background: none;
	width: 100%;
	height: 100%;
}

.searchbox .input-container input {
	flex: 1;
	vertical-align: top;
	padding: var(--padding);
	height: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.searchbox .menu-container {
	width: 3.125rem;
	height: 3.125rem;
	margin-left: var(--padding);
	text-align: center;
}

.searchbox .menu-container i {
	transition: transform 0.5s ease-in-out;
	cursor: pointer;
	font-size: 1.75rem;
	height: 3.125rem;
	width: 3.125rem;
	color: var(--text);
	padding: var(--padding);
	background: none;
	transition: color 0.25s ease-in;
}

.searchbox .menu-container i:hover {
	color: var(--accent);
}
