/* Store */
.store-overlay{
    position: fixed;
    z-index: var(--z-modal);
    top: 0;
    background: rgba(0, 0, 0, 0.411);
    left: 0;
    overflow: hidden;
    width: 100vw;
    display: flex;
    transform: scale(0);
    justify-content: center;
    align-items: center;
    height: 100vh;
    pointer-events: none;
}

.store-window{
    background: var(--back-accent);
    border: 1px solid var(--text);
    min-width: 300px;
    width: 50%;
    min-height: 300px;
    height: 62.5%;
    padding: 15px;
}

.store-window h1{
    background: none;
    margin: 10px;
    margin-bottom: 15px;
}

.store-window h2{
    display: inline-block;
    width: 75px;
}

.store-window .input-field{
    padding: 15px 10px;
    display: flex;
    line-height: 35px;
}

.store-window input{
    margin-left: 10px;
    padding: 5px;
    flex: 1;
    vertical-align: top;
}

.store-window button{
    margin: 15px 5px 5px 5px;
}

/* Close button */
.store-window .close{
    padding: 5px;
    float: right;
    background: none;
    border-radius: 0;
    cursor: pointer;
    color: var(--text);
    transition: border-radius 0.5s ease-in-out, transform 0.5s ease-in-out, color 0.5s ease-in-out, background 0.25s ease-in-out;
}

.store-window .close:hover{
    transform: rotate(180deg);
    border-radius: 50%;
    color: var(--back);
    background: var(--delete);
}